spring-integration/src/main/resources/com/inspiresoftware/lib/dto/geda/config/geda-spring-integration-1.2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!--
  ~ This code is distributed under The GNU Lesser General Public License (LGPLv3)
  ~ Please visit GNU site for LGPLv3 http://www.gnu.org/copyleft/lesser.html
  ~
  ~ Copyright Denis Pavlov 2009
  ~ Web: http://www.genericdtoassembler.org
  ~ SVN: https://svn.code.sf.net/p/geda-genericdto/code/trunk/
  ~ SVN (mirror): http://geda-genericdto.googlecode.com/svn/trunk/
  -->

<xsd:schema xmlns="http://geda-genericdto.svn.sourceforge.net/svnroot/geda-genericdto/schema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://geda-genericdto.svn.sourceforge.net/svnroot/geda-genericdto/schema"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/tool" schemaLocation="http://www.springframework.org/schema/tool/spring-tool-3.0.xsd"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[
    Defines the elements used in the Spring integration module for GeDA 2.1.0+.
        ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:element name="annotation-driven">
        <xsd:complexType>
            <xsd:attribute name="dto-support" type="xsd:string" default="dtoSupport" use="optional">
                <xsd:annotation>
                    <xsd:documentation source="java:com.inspiresoftware.lib.dto.geda.DTOSupport"><![CDATA[
    The bean name of the DTOSupport that represents the facade for the GeDA
    integration.

    This attribute is not required, and only needs to be specified
    explicitly if the bean name of the desired DtoSupport
    is not 'dtoSupport'.
                    ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="ref">
                            <tool:expected-type type="com.inspiresoftware.lib.dto.geda.DTOSupport"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="dto-adapters-registrar" type="xsd:string" default="" use="optional">
                <xsd:annotation>
                    <xsd:documentation source="java:com.inspiresoftware.lib.dto.geda.DTOAdaptersRegistrar"><![CDATA[
    The bean name of the Adapters Registrar that acts as a repository for registering
    value converters, retriever and matchers definitions.

    This attribute is not required.
                    ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="ref">
                            <tool:expected-type type="com.inspiresoftware.lib.dto.geda.DTOAdaptersRegistrar"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="dto-dsl-registrar" type="xsd:string" default="" use="optional">
                <xsd:annotation>
                    <xsd:documentation source="java:com.inspiresoftware.lib.dto.geda.DTODSLRegistrar"><![CDATA[
    The bean name of the DSL Registrar that acts as a DSL builder for registering
    dto to entity mappings.

    This attribute is not required.
                    ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="ref">
                            <tool:expected-type type="com.inspiresoftware.lib.dto.geda.DTODSLRegistrar"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="on-dto-assembly" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Even listener that will be notified just before assembly of the DTO
    object from the DO.
                        ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="ref">
                            <tool:expected-type type="com.inspiresoftware.lib.dto.geda.event.DTOEventListener"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="on-dto-assembled" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Even listener that will be notified upon successful assembly of the DTO
    object from the DO.
                        ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="ref">
                            <tool:expected-type type="com.inspiresoftware.lib.dto.geda.event.DTOEventListener"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="on-dto-failed" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Even listener that will be notified upon failed assembly of the DTO
    object from the DO. This listener should handle the exception or re-throw it.
                        ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="ref">
                            <tool:expected-type type="com.inspiresoftware.lib.dto.geda.event.DTOEventListener"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="on-entity-assembly" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Even listener that will be notified just before assembly of the DO
    object from the DTO.
                        ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="ref">
                            <tool:expected-type type="com.inspiresoftware.lib.dto.geda.event.DTOEventListener"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="on-entity-assembled" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Even listener that will be notified upon successful assembly of the DO
    object from the DTO.
                        ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="ref">
                            <tool:expected-type type="com.inspiresoftware.lib.dto.geda.event.DTOEventListener"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="on-entity-failed" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Even listener that will be notified upon failed assembly of the DO
    object from the DTO. This listener should handle the exception or re-throw it.
                        ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="ref">
                            <tool:expected-type type="com.inspiresoftware.lib.dto.geda.event.DTOEventListener"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="dto-factory" type="xsd:string" default="dtoFactory">
                <xsd:annotation>
                    <xsd:documentation source="java:com.inspiresoftware.lib.dto.geda.DTOFactory"><![CDATA[
    The bean name of the DTOFactory that represents the bean factory that
    will be used in GeDA assembly calls.

    This attribute is not required, and only needs to be specified
    explicitly if the bean name of the desired DTOFactory
    is not 'dtoFactory'.
                    ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="ref">
                            <tool:expected-type type="com.inspiresoftware.lib.dto.geda.DTOFactory"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="order" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation source="java:org.springframework.core.Ordered"><![CDATA[
    Controls the ordering of the execution of the transaction advisor
    when multiple advice executes at a specific joinpoint.
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="use-bean-preprocessor" type="xsd:boolean" use="optional" default="true">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Optional configuration to define how the methods will be advised.

    TRUE setting will register BeanPostProcessor that will examine all beans's
    methods and register configurations for advisable methods.

    FALSE setting will register a runtime method matcher bean that will examine
    methods as they are invoked and blacklist all inapplicable ones as they are
    invoked.
                        ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation kind="direct">
                            <tool:expected-type type="boolean"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="pointcut-match-regex" type="xsd:string" use="optional" default="">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Optional configuration to define regex that will be used for advice.

    This parameter should contain comma separated list of regex values
    E.g. com.inspiresoftware.lib.dto.geda.config.*,com.inspiresoftware.lib.dto.geda.event.*
    When the GeDA scans Beans for advice applicability all beans whose class+method name
    match one of the regex's will be advised.

    Leave this blank if there is no such restriction.
                        ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="pointcut-nomatch-regex" type="xsd:string" use="optional" default="">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
    Optional configuration to define regex that will be used for advice.

    This parameter should contain comma separated list of regex values
    E.g. com.inspiresoftware.lib.dto.geda.config.*,com.inspiresoftware.lib.dto.geda.event.*
    When the GeDA scans Beans for advice applicability all beans whose class+method name
    match one of the regex's will be disregarded.

    Leave this blank if there is no such restriction.
                        ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>